{% extends 'base/base.html' %} {% block content %}
<div>
    
    <div >
        <h1>Log In</h1> <a href="{% url 'registro'%}">Agregar Miembro</a>
<br>


        <h2>{{ error }}</h2>
        
<table>
            <tr>
                <th>ID / Username</th>
                
                <th>Telefono/Email</th>
                
                
                <th>Editar / Password</th>
                <th>Eliminar</th>
                
            </tr>
            {% for i in asesores %}
            <tr {%if i.is_admin%} style="background-color:green;"{%endif%}>
                <td>{{i.user.id}}<br>{{i.apodo}}</td>
                
                <td>{{i.telefono}}<br>{{i.email}}</td>
                
                
                
                <td >
                    <a href="{% url 'editar_asesor' i.user.id%}">Editar</a>
                    <a href="{% url 'cambio_password' i.user.id%}">Cambiar</a>
                </td>
                <td >
                    <form action="{% url 'eliminar_asesor' i.user.id%}" method="POST">{% csrf_token %}
                        <input value="Eliminar" type=submit>
                    </form>    
                </td>
                
            </tr>
            {% endfor %}


        </table>
    </div>
</div>
<br><br><br>



{% endblock %}