{% extends 'base/base.html' %} {% block content %}


<style>
    h1 {
        padding-top: 30px;
    }
    
    .container {
        width: 100%;
    }
</style>

<section class="container">

    <div>
        <h1>Log In</h1>
        <br>


        <h2>{{ error }}</h2>
        <form method="POST">
            {% csrf_token %}

            <input style="width: 90%; " type="text" name="username" placeholder="Username"><br><br>
            <input style="width: 90%; " type="password" name="Password" placeholder="Password"><br><br>
            <button class="btn btn-primary text-right" type="submit"><span class="glyphicon glyphicon-user"></span> Log In </button>
        </form>


    </div>
</section>
<br><br><br> {% endblock %}