{% extends 'base/base.html' %} {% block content%}
<br>
<div >
    <h1>Estoy para registrarte :D </h1>
    <h3> Bienvenido :D.... Ponte a trabajar</h3>
    <h2> {{ error }}</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {% comment %} {{form.as_p}} {% endcomment %}
        <div>
            
            <input style="width: 80%; " type="text" name="username" placeholder="Nombre de Usuario"><br><br>  
            <input style="width: 80%; " type="text" name="first_name" placeholder="Nombre"><br><br> 
            <input style="width: 80%; " type="text" name="last_name" placeholder="Apeido"><br><br> 
            <input style="width: 80%; " type="email" name="email" placeholder="Email"><br><br>  

            <input style="width: 80%; " type="tel" name="telefono" placeholder="Telefono"><br><br>
            <label for="img">Foto de Usuario <span><small>   *Lo mejor es que la imagen este cuadrada</small></span></label>
            <input type="file" id="img" name="img" accept="images/user"><br><br> 

            <input style="width: 80%; " type="password" name="password1" placeholder="Password"><br><br>
            <input style="width: 80%; " type="password" name="password2" placeholder="Confirm Password"><br><br>
            <button class="btn btn-primary text-right" type="submit"> Registrar </button>
        </div>
        
    </form>
</div>


{% endblock %}