{% extends 'base/base.html' %} {% block content %}


<div class="container" style="width: 750px;">
    <div class="card">
        <h2>
            <a href="{% url 'listado_citas'  %}"> <span class="material-icons">
            event
            </span> Resumen CITAS</a>
        </h2>
        <p>
            Resumen de CITAS <br> Citas enviadas = {{citas.count}} <br>
            <ul>
                <li>Agregar</li>
                <li>Editar</li>
                <li>Eliminar</li>
            </ul>
        </p>
    </div>
    <hr>
    <div class="card">
        <h2>
            <a href="{% url 'listado_asesor' 'Casa' %}"> <span class="material-icons"> 
                other_houses
                </span> Casas </a> <a class="btn-outline-warning" href="{% url 'agregar_inmueble' 'Casa' %}">+ Casas</a>
        </h2>
        <p>
            Resumen de Casas <br> Casas registradas = {{casas.count}}<br>
            <ul>
                <li>Agregar</li>
                <li>Editar</li>
                <li>Eliminar</li>
            </ul>
        </p>
    </div>
    <hr>
    <div class="card">
        <h2>
            <a href="{% url 'listado_asesor' 'Departamento' %}"> <span class="material-icons">
            apartment
            </span> Departamento </a> <a class="btn-outline-warning" href="{% url 'agregar_inmueble' 'Departamento' %}">+ Depa</a>
        </h2>
        <p>
            Resumen de Departamento <br> Departamento registradas = {{departamentos.count}}<br>
            <ul>
                <li>Agregar</li>
                <li>Editar</li>
                <li>Eliminar</li>
            </ul>
        </p>
    </div>
    <hr>
    <div class="card">
        <h2>
            <a href="{% url 'listado_asesor' 'Terreno' %}"> <span class="material-icons">
            nature_people
            </span> Terrenos </a> <a class="btn-outline-warning" href="{% url 'agregar_inmueble' 'Terreno' %}">+ Terrenos</a>
        </h2>
        <p>
            Resumen de Terrenos <br> Terreno registradas = {{terrenos.count}}<br>
            <ul>
                <li>Agregar</li>
                <li>Editar</li>
                <li>Eliminar</li>
            </ul>
        </p>
    </div>
    <hr>
    <div class="card">
        <h2>
            <a href="{% url 'listado_asesor' 'Comercio' %}"> <span class="material-icons">
            storefront
            </span> Comercio </a> <a class="btn-outline-warning" href="{% url 'agregar_inmueble' 'Comercio' %}">+ Comercios</a>
        </h2>
        <p>
            Resumen de Comercio <br> Comercio registradas = {{comercios.count}}<br>
            <ul>
                <li>Agregar</li>
                <li>Editar</li>
                <li>Eliminar</li>
            </ul>
        </p>
    </div>
    <div class="card">
        <h2>
            <a href="{% url 'listado_paginas' %}"> <span class="material-icons">
            dashboard
            </span> Paginas </a> <a class="btn-outline-warning" href="{% url 'nueva_pagina' %}">+ Pagina</a>
        </h2>
        <p>
            Resumen de Paginas <br> Paginas registradas = {{paginas.count}}<br>
            <ul>
                <li>Agregar</li>
                <li>Editar</li>
                <li>Eliminar</li>
            </ul>
        </p>
    </div>
</div>



<br> {% endblock content %}