

    <div class="js-container">
        <nav>
            <div class="menu-icons">
                <i class="icon ion-md-menu"></i>
                <i class="icon ion-md-close"></i>
            </div>

            <a class="navbar-brand py-1 logo" href="/">
                <!-- Imagen de LOGO-->
                <img src="https://d19m59y37dris4.cloudfront.net/directory/1-6-1/img/logo.svg" alt="Directory logo"></a>


            <ul class="nav-list">
                <li>
                    <a href="#">HOME</a>
                </li>
                <li>
                    <a href="#">location <i class="icon ion-md-arrow-dropdown"></i> </a>
                    <ul class="sub-menu">
                        <li>
        
        
        
                            <a href="{% url 'listado' 'Casa' %}">Casas</a>
                        </li>
                        <li>
                            <a href="{% url 'listado' 'Departamento' %}">Departamentos</a>
                        </li>
                        <li>
                            <a href="{% url 'listado' 'Terreno' %}">Terrenos</a>
                        </li>
                        <li>
                            <a href="{% url 'listado' 'Comercio' %}">Comercios</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Dropdown
                        <i class="icon ion-md-arrow-dropdown"></i> 
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">Location 1</a>
                        </li>
                        <li>
                            <a href="#">More<i class="icon ion-md-arrow-dropdown"></i> </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">Location 1</a>
                                </li>
                                <li>
                                    <a href="#">Location 2</a>
                                </li>
                                <li>
                                    <a href="#">Location 3</a>
                                </li>
                                <li>
                                    <a href="#">Location 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Location 2</a>
                        </li>
                        <li>
                            <a href="#">Location 3</a>
                        </li>
                        <li>
                            <a href="#">More<i class="icon ion-md-arrow-dropdown"></i> </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">Location 1</a>
                                </li>
                                <li>
                                    <a href="#">More<i class="icon ion-md-arrow-dropdown"></i> </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">Location 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Location 2</a>
                                        </li>
                                        <li>
                                            <a href="#">Location 3</a>
                                        </li>
                                        <li>
                                            <a href="#">Location 4</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Location 2</a>
                                </li>
                                <li>
                                    <a href="#">Location 3</a>
                                </li>
                                <li>
                                    <a href="#">Location 4</a>
                                </li>
                                <li>
                                    <a href="#">More<i class="icon ion-md-arrow-dropdown"></i> </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#">Location 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Location 2</a>
                                        </li>
                                        <li>
                                            <a href="#">Location 3</a>
                                        </li>
                                        <li>
                                            <a href="#">Location 4</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="move-right btn">
                    <a class="btn-txt" href="#">Asesores</a>
                </li>

            </ul>
        </nav>
    </div>
