{% load static %}

    <div class="js-container">
        <nav>
            <div class="menu-icons">
                
                <i class="icon material-icons icon-close">close</i> 
                <img src="{%static 'icons/menu_black_24dp.svg' %}" class="icon-menu" >
            </div>

            <a class="navbar-brand py-1 logo" href="/">
                <!-- Imagen de LOGO-->
                <img src="{%static 'icons/logo_450x200.png' %}" height="50px" alt="Directory logo"></a>


            <ul class="nav-list">
                <li>
                    <a href="{% url 'home'  %}">HOME</a>
                </li>
                <li>
                    <a href="#">Listados   </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="{% url 'listado' 'Casa' %}">Casas</a>
                        </li>
                        <li>
                            <a href="{% url 'listado' 'Departamento' %}">Departamentos</a>
                        </li>
                        <li>
                            <a href="{% url 'listado' 'Terreno' %}">Terrenos</a>
                        </li>
                        <li>
                            <a href="{% url 'listado' 'Comercio' %}">Comercios</a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a href="#">Paginas <i class="icon ion-md-arrow-dropdown"></i> </a> 
                    <ul class="sub-menu">
                    {% if pagina_publicada %}
                    {%for i in pagina_publicada %}
                        <li>
                            <a href="{% url 'pagina' i.slug %}">{{i.titulo}}</a>
                        </li>
                    {% endfor %}
                    {% endif %}
                    </ul>
                </li>
                <li>
                            <a href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                
                {% if user.is_authenticated %}
                <li> 
                    <a class="btn btn-danger" href="{% url 'listado_user'%}">Equipo :D</a>
                </li>
                <li class="move-right ">
                    <form method='POST' action="{% url 'logoutuser'%}">{% csrf_token %}
                    <input type="submit" class="btn btn-danger" style="float: right;" value="Cerrar Sesion">
                    </form>
                </li>
                {% endif %}
            </ul>
            <ul>
            </ul>
        </nav>
    </div>
